body,td,th{
	font-family:ו;
	font-size:12px;
	color:#333333;
}
body{
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	background-color:#eef2fb;
}
.regtable{
	border:1px solid #375088;
	margin-top:30px;
}
.tdinfo{
	background-color: #fbfbfb;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #d2d2d2;
	border-left-color: #d2d2d2;
	border-right-color: #d2d2d2;
	border-bottom-color: #d2d2d2;
	border-left-color: #d2d2d2;
}
.txt{
	font-family: "ו, Arial";
	font-size:12px;
	font-weight: bold;
	color: #333333;
}